.wrapper {
    overflow: hidden;
    position: relative;
}
.champion_splash {
    position: absolute;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.champion_details_container {
    position: relative;
    width: 100vw;
    height: 100vh;
}